name: CI/CD Docker Compose Deployment

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Java Image
        uses: docker/build-push-action@v5
        with:
          context: ./java
          push: true
          tags: bandarudocker/my-practice-java:latest

      - name: Build & Push Node Image
        uses: docker/build-push-action@v5
        with:
          context: ./node
          push: true
          tags: bandarudocker/my-practice-node:latest

      - name: Build & Push Python Image
        uses: docker/build-push-action@v5
        with:
          context: ./python
          push: true
          tags: bandarudocker/my-practice-python:latest

      - name: Deploy to Azure VM
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.VM_HOST }} >> ~/.ssh/known_hosts

          ssh ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} << 'EOF'
            cd ~/my-practice
            docker compose pull
            docker compose down
            docker compose up -d
          EOF
